.sinatable_container {
    box-sizing: border-box;
    grid-row: 2/3;
    grid-column: 1/2;
    width: 98%;
    display: grid;
    grid-template-rows: 1fr auto;
}

.sinatable_footer {
    box-sizing: border-box;
    display: flex;
    justify-content: flex-end;
}